# Development Directories
.github
.vscode
_spec_
config
scripts
spec-support
src

# Development Files
*.spec.js
.eslintrc.js
.eslintignore
.prettierrc.js

# Temporary Directories
.babel-cache

# Logs
logs
*.log
npm-debug.log*
